{% extends "app/base_site.html" %}

{% block title %} 训练管理 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}

  <div class="right_col" role="main">
    <div class="">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
               <h2>训练管理
                    <span id="top_loading" ><img class="top_loading_img" src="/static/images/load.gif" alt="loading">加载中</span>
                    <span id="top_msg">{{top_msg}}</span>
               </h2>
                  <div class="clearfix"></div>
              </div>
              <div class="x_content">

                <!--<p><code>说明</code> 系统支持的行为算法</p>-->

                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="headings">
                        <th class="column-title">ID</th>
                        <th class="column-title">创建用户</th>
                        <th class="column-title">标注任务</th>
                        <th class="column-title">算法</th>
                        <th class="column-title">训练周期</th>
                        <th class="column-title">训练批次</th>
                        <th class="column-title">训练状态</th>
                        <th class="column-title">开始时间</th>
                        <th class="column-title">结束时间</th>
                          <th class="column-title no-link last"><span class="nobr">操作</span></th>
                      </tr>
                    </thead>

                    <tbody>
                    {%  for d  in data %}
                      <tr class="even pointer">
                        <td>{{ d.id }}</td>
                        <td>{{ d.username }}</td>
                        <td><a class="sun-a-label" href="javascript:f_task('{{ d.task_code }}')">{{ d.task_code }}</a></td>
                        <td>{{ d.algorithm_code }}</td>
                        <td>{{ d.epochs }}</td>
                        <td>{{ d.batch }}</td>
                        <td>
                            {% if d.train_state == 1 %}
                            <span style="color: red">训练中</span>
                            {% elif d.train_state == 2 %}
                            <span style="color: green">已完成</span>
                                {% else %}
                                <span>未训练</span>
                            {% endif %}
                       </td>

                        <td>
                            {% if  d.train_start_time != None %}
                                {{ d.train_start_time }}
                            {% endif %}
                        </td>
                        <td>
                             {% if  d.train_stop_time != None %}
                                {{ d.train_stop_time }}
                            {% endif %}
                        </td>
                        <td>
                              <div class="btn-group">
                              <button onclick="f_manage('{{ d.code }}')" class="btn btn-sm btn-default" type="button"  data-placement="top" data-toggle="tooltip" data-original-title="查看训练"><i class="fa fa-magic"></i></button>
                              <button onclick="f_del('{{ d.code }}')" class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="删除"><i class="fa fa-remove"></i></button>
                            </div>
                        </td>
                      </tr>
                    {% endfor %}

                    </tbody>
                  </table>
                </div>


              </div>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <ul class="pagination">
                <li>
                    <span style="margin-right:10px;color:#000;">共<span>{{ pageData.page_num}}</span>页 / <span>{{pageData.count}}</span >条</span>
                </li>

                {%  for d  in pageData.pageLabels%}
                  {% if d.cur == 1 %}
                    <li class="paginate_button active"><a href="#"  >{{ d.name }}</a></li>
                  {% else %}
                    <li class="paginate_button "><a href="/train/index?p={{d.page}}&ps={{pageData.page_size}}" >{{ d.name }}</a></li>
                  {% endif %}
                {% endfor %}

            </ul>

          </div>
       </div>


    </div>
  </div>

{% endblock content %}

{% block javascripts %}
  {{ block.super }}

<script>
    let ele_top_loading = $("#top_loading");
    let ele_top_msg= $("#top_msg");
    function f_task(task_code) {
        let url = "/task/edit?code="+task_code;
        window.open(url);
    }
    function f_del(train_code){
        ele_top_loading.show();
        $.ajax({
               url: '/train/postDel',
               type: "post",
               async: true,
               data: {"code":train_code},
               dataType: "json",
               timeout: 0,
               error: function () {
                   ele_top_loading.hide();
                   myAlert("网络异常，请确定网络正常！","error");
               },
               success: function (res) {
                      ele_top_loading.hide();
                   if(1000 === res.code){
                        window.location.reload();
                   }else{
                        myAlert(res.msg,"error");
                   }
               }
            });

    }
    function f_manage(train_code) {
        let url = "/train/manage?code="+train_code;
        window.location.href = url;
    }
</script>

{% endblock javascripts %}

